TRAEFIK_HOST=workflow.withnadav.com
TRAEFIK_DOCKER_NETWORK=traefik-public
TRAEFIK_ENTRYPOINTS=websecure
TRAEFIK_CERT_RESOLVER=letsencrypt
BASIC_AUTH_USERS=nadav:replace-with-a-traefik-compatible-htpasswd-hash
